# vim: ft=toml

{{ $path_prefix := ".config/nushell/vendor/autoload" }}
{{ if eq .chezmoi.os "darwin" }}
  {{ $path_prefix = "Library/Application Support/nushell/vendor/autoload" }}
{{ end }}

{{- range $file, $url := .nu_scripts.auto }}
["{{- $path_prefix }}/{{- $file }}.nu"]
  type = "file"
  refreshPeriod = "72h"
  url = "{{- $url }}"
{{- end }}
