# vim: ft=toml

[".config/zellij/plugins/zjstatus.wasm"]
type = "file"
url = "https://github.com/dj95/zjstatus/releases/download/v0.21.1/zjstatus.wasm"

# [".config/zellij/plugins/zjframes.wasm"]
# type = "file"
# url = "https://github.com/dj95/zjstatus/releases/download/v0.21.1/zjframes.wasm"
