# vim: ft=toml

# External Scripts
[".config/nushell/scripts/integrations/completions/cargo-make.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/cargo-make/cargo-make-completions.nu"

[".config/nushell/scripts/integrations/completions/ssh.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/ssh/ssh-completions.nu"

[".config/nushell/scripts/integrations/completions/git.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/git/git-completions.nu"

[".config/nushell/scripts/integrations/completions/gh.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/gh/gh-completions.nu"

[".config/nushell/scripts/integrations/completions/docker.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/docker/docker-completions.nu"

[".config/nushell/scripts/integrations/completions/make.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/make/make-completions.nu"

[".config/nushell/scripts/integrations/completions/just.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/just/just-completions.nu"

[".config/nushell/scripts/integrations/completions/tar.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/tar/tar-completions.nu"

[".config/nushell/scripts/integrations/completions/virsh.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/virsh/virsh-completions.nu"

[".config/nushell/scripts/integrations/hooks/nuenv.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/nu-hooks/nu-hooks/nuenv/hook.nu"

[".config/nushell/scripts/integrations/hooks/rusty-paths.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/nu-hooks/nu-hooks/rusty-paths/rusty-paths.nu"

# Binaries
["bin/"]
type = "archive"
include = ["git-credential-manager", "libHarfBuzzSharp.so", "libSkiaSharp.so"]
url = "https://github.com/git-ecosystem/git-credential-manager/releases/download/v2.6.0/gcm-linux_amd64.2.6.0.tar.gz"

["bin/docker-credential-secretservice"]
type = "file"
executable = true
url = "https://github.com/docker/docker-credential-helpers/releases/download/v0.8.2/docker-credential-secretservice-v0.8.2.linux-amd64"

[".local/share/fonts/VictorMono"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/VictorMono.tar.xz"

[".local/share/fonts/Monaspace"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/Monaspace.tar.xz"

["bin/dynamicwallpaperconverter"]
type = "file"
executable = true
url = "https://raw.githubusercontent.com/zzag/plasma5-wallpapers-dynamic-extras/master/dynamicwallpaperconverter"

["bin/minikube"]
type = "file"
executable = true
refreshPeriod = "720h"
url = "https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64"

["bin/kubectl"]
type = "file"
executable = true
refreshPeriod = "720h"
url = 'https://dl.k8s.io/release/{{ output "curl" "-L" "-s" "https://dl.k8s.io/release/stable.txt" | trim }}/bin/linux/amd64/kubectl'

["bin/helm"]
type = "archive-file"
executable = true
path = "{{ .chezmoi.os }}-{{ .chezmoi.arch }}/helm"
refreshPeriod = "168h"
url = 'https://get.helm.sh/helm-{{ output "curl" "-L" "-s" "https://get.helm.sh/helm-latest-version" | trim }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz'

# Vim/Neovim
[".vim/colors/nord.vim"]
type = "file"
url = "https://github.com/nordtheme/vim/raw/main/colors/nord.vim"

# https://github.com/thjbdvlt/spell-fr.vim
[".config/nvim/spell/fr.utf-8.spl"]
type = "file"
refreshPeriod = "672h"
url = "https://github.com/thjbdvlt/spell-fr.vim/raw/refs/heads/sea/vim/st.utf-8.spl"
