# vim: ft=toml

# External Scripts
[".config/nushell/scripts/integrations/completions/cargo-make.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/cargo-make/cargo-make-completions.nu"

[".config/nushell/scripts/integrations/completions/ssh.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/ssh/ssh-completions.nu"

[".config/nushell/scripts/integrations/completions/git.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/git/git-completions.nu"

[".config/nushell/scripts/integrations/completions/gh.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/gh/gh-completions.nu"

[".config/nushell/scripts/integrations/completions/docker.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/docker/docker-completions.nu"

[".config/nushell/scripts/integrations/completions/make.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/make/make-completions.nu"

[".config/nushell/scripts/integrations/completions/just.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/just/just-completions.nu"

[".config/nushell/scripts/integrations/completions/tar.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/tar/tar-completions.nu"

[".config/nushell/scripts/integrations/completions/virsh.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/custom-completions/virsh/virsh-completions.nu"

[".config/nushell/scripts/integrations/hooks/nuenv.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/nu-hooks/nu-hooks/nuenv/hook.nu"

[".config/nushell/scripts/integrations/hooks/rusty-paths.nu"]
type = "file"
refreshPeriod = "72h"
url = "https://github.com/nushell/nu_scripts/raw/main/nu-hooks/nu-hooks/rusty-paths/rusty-paths.nu"

# ["bin/dynamicwallpaperconverter"]
# type = "file"
# executable = true
# url = "https://raw.githubusercontent.com/zzag/plasma5-wallpapers-dynamic-extras/master/dynamicwallpaperconverter"

# Assets
[".local/share/fonts/VictorMono"]
type = "archive"
url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/VictorMono.tar.xz"

# [".local/share/fonts/Monaspace"]
# type = "archive"
# url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/Monaspace.tar.xz"

# Vim/Neovim
[".vim/colors/nord.vim"]
type = "file"
url = "https://github.com/nordtheme/vim/raw/main/colors/nord.vim"

# https://github.com/thjbdvlt/spell-fr.vim
# TODO: Update manually for now
# [".config/nvim/spell/fr.utf-8.spl"]
# type = "file"
# refreshPeriod = "672h"
# url = "https://github.com/thjbdvlt/spell-fr.vim/releases/latest/download/fr.utf-8.spl"
