# vim: ft=gitconfig

{{ $gh_bin := "!/usr/bin/gh" }}
{{ if eq .chezmoi.os "darwin" }}
  {{ $gh_bin = "/opt/homebrew/bin/gh" }}
{{ end }}

[user]
	email = git@tobihans.space
	name = Hans B. K. Tognon
	useConfigOnly = true
	signingKey = ~/.ssh/git.pub

[includeIf "gitdir:~/dev/github/irawotaka/"]
  path = irawo
; NOTE: https://calebhearth.com/sign-git-with-ssh
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[color]
	ui = true
[core]
	pager = less -r
	editor = vim
	fsmonitor = true
	untrackedcache = true

[status]
	submodulesummary = 1
	showStash = true
[pull]
	rebase = true
[diff]
	colorMoved = zebra
	wsErrorHighlight = all
	tool = nvimdiff
	algorithm = histogram
[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	clown = clone --filter=blob:none --
[log]
	showSignature = true
[credential]
	credentialStore = secretservice
[credential "https://github.com"]
	helper =
	helper = !{{- $gh_bin }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{- $gh_bin }} auth git-credential
[branch]
	sort = committerdate
[push]
	autosetupremote = true
